﻿@{
    ViewBag.Title = "Customer Page";
}

<body>
    <div class="container-fluid" style="padding:20px">
        <div class="row">
            <div class="col">
                <table id="ExistingCustomers">
                    <tr>
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Contact Number
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Test
                        </td>
                        <td>
                            Some Address
                        </td>
                        <td>
                            0718962803
                        </td>
                        <td>
                            <button class="EditBtn" onclick="EditCustomer()">Edit</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col" style="padding:50px; background-color:dimgray; width:100%">

                <div class="row header">
                    <div class="col">
                        <label>Customer Name</label>
                    </div>
                </div>
                <div class="row header">
                    <div class="col">
                        <input id="CustomerName" placeholder="Customer Name" />
                    </div>
                </div>

                <div class="row header">
                    <div class="col">
                        <label>Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="Address" placeholder="Customer Address" />
                    </div>
                </div>

                <div class="row header" >
                    <div class="col">
                        <label>Telephone Number</label>
                    </div>
                </div>
                <div class="row" >
                    <div class="col" >
                        <input id="TelephoneNumber" placeholder="Customer Telephone Number"/>
                    </div>
                </div>

                <div class="row header">
                    <div class="col" id="ButtonArea">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/js/Customer.js"></script>