﻿@{
    ViewBag.Title = "Inventory Items Page";
}

<body>
    <div class="container-fluid" style="padding:20px">
        <div class="row">
            <div class="col">
                <table id="ExistingItems">
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col" style="padding:50px; background-color:dimgray; width:100%">

                <div class="row header">
                    <div class="col">
                        <label>Item Name</label>
                    </div>
                </div>
                <div class="row header">
                    <div class="col">
                        <input id="ItemName" placeholder="Item Name" />
                    </div>
                </div>

                <div class="row header">
                    <div class="col">
                        <label>Unit Price</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input id="UnitPrice" placeholder="Unit Price" />
                    </div>
                </div>

                <div class="row header">
                    <div class="col" id="ButtonArea">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/js/InventoryItems.js"></script>