﻿@{
    ViewBag.Title = "Customer Page";
}

<body>
    <div class="container-fluid" style="padding:20px">
        <div class="row">
            <div class="col">
                <table id="Invoices">
                    <tr>
                        <th>
                            Customer Name
                        </th>
                        <th>
                            Document Number
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Test
                        </td>
                        <td>
                            Some Address
                        </td>
                        <td>
                            0718962803
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col" style="padding:50px; background-color:dimgray; width:100%">

                <center><h2>Create New Invoice</h2></center>
                <div class="row header">
                    <div class="col">
                        <label>Customer Name</label>
                    </div>
                </div>
                <div class="row header">
                    <div class="col">
                        <select class="browser-default custom-select" id="customerSelect" style="width:100%;">
                            <option value="" disabled selected>Customers</option>
                        </select>
                    </div>
                </div>

                <div class="row header">
                    <div class="col">
                        <label>Document Number</label>
                    </div>
                </div>
                <div class="row header">
                    <div class="col">
                        <input id="DocumentNumber" placeholder="Document Number" />
                    </div>
                </div>

                <div class="row header">
                    <div class="col">
                        <button class="SaveBtn" onclick="CreateInvoice()">Create Invoice</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script src="~/js/InvoiceManager.js"></script>