﻿@{
    ViewBag.Title = "Invoice creator Page";
}

<body>
    <div class="container-fluid" style="padding:20px">
        <div class="row">
            <div class="col">
                <table id="Items">
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col" style="padding:50px; background-color:dimgray; width:100%">

                <div class="row header">
                    <div class="col">
                        <label>Product Name</label>
                    </div>
                </div>
                <div class="row header">
                    <div class="col">
                        <select class="browser-default custom-select" id="productSelect" style="width:100%;">
                            <option value="" disabled selected>Products</option>
                        </select>
                    </div>
                </div>

                <div class="row header">
                    <div class="col">
                        <label>Quantity</label>
                    </div>
                </div>
                <div class="row header">
                    <div class="col">
                        <input id="Quantity" placeholder="Quantity" type="number" min="1" step="1" />
                    </div>
                </div>

                <div class="row header">
                    <div class="col">
                        <button class="SaveBtn" onclick="Add()">Add</button>
                    </div>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="SaveBtn" onclick="Complete()">Complete</button>
            </div>
        </div>
    </div>
</body>

<script src="~/js/InvoiceCreator.js"></script>