﻿body {
	margin: 0!important;
	padding:0px!important;
}


@charset "UTF-8";

.navigation {
	height: 70px;
	background: #262626;
	z-index: 1;
}

.brand {
	background-color: #2581DC;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	line-height: 70px;
	text-align: center;
	text-transform: uppercase;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
}

	.brand a,
	.brand a:visited {
		color: #ffffff;
		text-decoration: none;
	}

.nav-container {
	max-width: 1000px !important;
	margin: 0 !important;
}

nav {
	float: right;
}

	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

		nav ul li {
			float: left;
			position: relative;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}

			nav ul li a,
			nav ul li a:visited {
				display: block;
				padding: 0 20px;
				line-height: 70px;
				background: #262626;
				color: #ffffff;
				text-decoration: none;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				z-index: 1 !important;
			}

				nav ul li a:hover,
				nav ul li a:visited:hover {
					background: #2581DC;
					color: #ffffff;
				}

				nav ul li a:not(:only-child):after,
				nav ul li a:visited:not(:only-child):after {
					padding-left: 4px;
					content: ' ▾';
				}

			nav ul li ul li {
				min-width: 190px;
			}

				nav ul li ul li a {
					padding: 15px;
					line-height: 20px;
				}

.nav-dropdown {
	position: absolute !important;
	display: none !important;
	z-index: 9999 !important;
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15) !important;
}

/* Mobile navigation */
.nav-mobile {
	display: none;
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	background: #262626;
	height: 70px !important;
	width: 70px !important;
	z-index: 9999 !important;
}

@media only screen and (max-width: 849px) {
	.nav-mobile {
		display: block !important;
	}

	nav {
		width: 100% !important;
	}

		nav ul {
			display: none;
		}

			nav ul li {
				float: none;
			}

				nav ul li a {
					padding: 15px !important;
					line-height: 20px !important;
				}

				nav ul li ul li a {
					padding-left: 30px !important;
				}

	.nav-dropdown {
		position: static !important;
	}
}

@media screen and (min-width: 850px) {
	.nav-list {
		display: block !important;
		margin-top: 0px !important;
		padding-top: 0px !important;
	}
}

#nav-toggle {
	position: absolute !important;
	left: 18px !important;
	top: 22px !important;
	cursor: pointer !important;
	padding: 10px 35px 16px 0px !important;
}

	#nav-toggle span,
	#nav-toggle span:before,
	#nav-toggle span:after {
		cursor: pointer;
		border-radius: 1px;
		height: 5px;
		width: 35px;
		background: #ffffff;
		position: absolute;
		display: block;
		content: '';
		transition: all 300ms ease-in-out;
	}

		#nav-toggle span:before {
			top: -10px;
		}

		#nav-toggle span:after {
			bottom: -10px;
		}

	#nav-toggle.active span {
		background-color: transparent;
	}

		#nav-toggle.active span:before, #nav-toggle.active span:after {
			top: 0;
		}

		#nav-toggle.active span:before {
			transform: rotate(45deg);
		}

		#nav-toggle.active span:after {
			transform: rotate(-45deg);
		}

article {
	max-width: 1000px !important;
	margin: 0 auto !important;
	padding: 10px !important;
}


table {
	background-color: #262626;
	color: white;
	width: 100% !important;
	border: solid;
}

th{
	padding:5px;
	color:dodgerblue;
	border:solid;
}

td {
	padding: 5px;
	border: solid;
}

.EditBtn{
	width:100%!important;
	color:white;
	background-color:black;
	height:30px;
	border:solid;
	padding:2px;
}

.SaveBtn {
	width: 100% !important;
	color: white;
	background-color: dodgerblue;
	height: 30px;
	border: solid;
	padding: 2px;
}

.CancelBtn {
	width: 100% !important;
	color: white;
	background-color: red;
	height: 30px;
	border: solid;
	padding: 2px;
}

input {
	width: 100% !important;
	margin: 0px;
	max-width: 10000px;
}

.header{
	padding-top:10px;
}

.col{
	width:100%;
}


select {
	width: 100% !important;
	max-width: 10000px;
}