﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <section class="navigation" style="padding:0px!important; margin:0px">
        <div class="nav-container">
            <div class="brand" style="align-content:flex-end;">
                <a href="/home/index">Emile van Rooyen</a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!" style="z-index:99999999!important"><span></span></a></div>
                <ul class="nav-list" style="z-index:99999999!important">
                    <li><a href="/pages/customer">Customers</a></li>
                    <li><a href="/pages/inventoryitems">Inventory Items</a></li>
                    <li>
                        <a href="/pages/invoicemanager">Invoice Manager</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <div id="main" class="container-fluid body-content text-selection-off" style="margin:0px!important; padding:0px!important">
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>

<link href="~/css/Layout.css" rel="stylesheet" />
<script src="~/js/Layout.js"></script>